<html>
   <head>
       <title>Welcome to Laravel Boss {{ http_host }} !</title>
   </head>
   <body>
       <h1>Success! The Boss is in!! {{ http_host }} virtual host is working!</h1>
   </body>
</html>


